<a href="https://colab.research.google.com/github/SENTHIL-NETXYPER/DAILY_CODE_PRACTICE/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel("/content/Vrinda Store Data Analysis.xlsx")
df

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,M,60,2022-01-06,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,2022-01-06,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,2022-01-06,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,2022-01-06,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,2022-01-06,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [ ]:
df=df.drop_duplicates(subset=["Order ID","Cust ID"])
df

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31040,31041,405-4837393-8997115,4837393,M,60,2022-01-06,Delivered,Ajio,MEN5027-KR-M,kurta,M,One,INR,495,HYDERABAD,TELANGANA,500084,IN,False
31041,31042,405-4724097-1016369,4724097,W,46,2022-01-06,Delivered,Myntra,J0277-SKD-S,Set,S,One,INR,1333,VADODARA,GUJARAT,390008,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,2022-01-06,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,2022-01-06,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,2022-01-06,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

<class 'pandas.core.frame.DataFrame'>
Index: 28471 entries, 0 to 31046
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             28471 non-null  int64
 1   Order ID          28471 non-null  object
 2   Cust ID           28471 non-null  int64
 3   Gender            28471 non-null  object
 4   Age               28471 non-null  int64
 5   Date              28471 non-null  datetime64[ns]
 6   Status            28471 non-null  object
 7   Channel           28471 non-null  object
 8   SKU               28471 non-null  object
 9   Category          28471 non-null  object
 10  Size              28471 non-null  object
 11  Qty               28471 non-null  object
 12  currency          28471 non-null  object
 13  Amount            28471 non-null  int64
 14  ship-city         28471 non-null  object
 15  ship-state        28471 non-null  object
 16  ship-postal-code  28471 non-null  int64
 17  ship-country      28471 non-null  object
 18  B2B               28471 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(5), object(12)
memory usage: 4.2+ MB

In [ ]:
df[]

<bound method DataFrame.drop_duplicates of        index             Order ID  Cust ID Gender  Age       Date     Status  \
0          1  171-1029312-3038738  1029312  Women   44 2022-12-04  Delivered
1          2  405-2183842-2225946  2183842  Women   29 2022-12-04  Delivered
2          3  171-1641533-8921966  1641533  Women   67 2022-12-04  Delivered
3          4  404-7490807-6300351  7490807  Women   20 2022-12-04  Delivered
4          5  403-9293516-4577154  9293516  Women   62 2022-12-04  Delivered
...      ...                  ...      ...    ...  ...        ...        ...
31042  31043  405-4724097-1016369  4724097      M   60 2022-01-06  Delivered
31043  31044  405-4724097-1016369  4724097      M   34 2022-01-06  Delivered
31044  31045  408-3572295-5992330  3572295      M   29 2022-01-06  Delivered
31045  31046  405-1423498-9705162  1423498      M   46 2022-01-06  Delivered
31046  31047  408-4694875-8249153  4694875      M   36 2022-01-06  Delivered

       Channel                       SKU       Category Size  Qty currency  \
0        Myntra  JNE1233-BLUE-KR-031-XXL          kurta  XXL    1      INR
1          Ajio           SET414-KR-NP-L            Set    L    1      INR
2        Myntra           SET261-KR-PP-S            Set    S    1      INR
3        Amazon           SET110-KR-PP-M            Set    M    1      INR
4        Myntra         JNE2294-KR-A-XXL          kurta  XXL    1      INR
...         ...                      ...            ...  ...  ...      ...
31042  Flipkart              J0083-KR-XL          kurta   XL  One      INR
31043    Myntra              J0010-LCD-S            Set    S  One      INR
31044    Amazon           SET398-KR-PP-L            Set    L  One      INR
31045    Amazon             JNE3568-KR-M          kurta    M  One      INR
31046  Flipkart            J0341-DR-XXXL  Western Dress  3XL  One      INR

       Amount    ship-city   ship-state  ship-postal-code ship-country    B2B
0         376       MOHALI       PUNJAB            140301           IN  False
1        1449     GURUGRAM      HARYANA            122002           IN  False
2         453      KOLKATA  WEST BENGAL            700029           IN  False
3         729    THANJAVUR   TAMIL NADU            613007           IN  False
4         544     GURUGRAM      HARYANA            122001           IN  False
...       ...          ...          ...               ...          ...    ...
31042     565         PUNE  MAHARASHTRA            412307           IN  False
31043     939    BENGALURU    KARNATAKA            560061           IN  False
31044    1115  PITHORAGARH  UTTARAKHAND            262501           IN  False
31045     399        DHULE  MAHARASHTRA            424006           IN  False
31046     791     WARANGAL    TELANGANA            506001           IN  False

[31047 rows x 19 columns]>

In [ ]:
# df["Gender"].unique()
df["Gender"]=df["Gender"].replace("Women","W")
df["Gender"]=df["Gender"].replace("Men", "Mdf["Gender"])

/tmp/ipython-input-3088243758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"]=df["Gender"].replace("Women","W")
/tmp/ipython-input-3088243758.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"]=df["Gender"].replace("Men", "M")

0        W
1        W
2        W
3        W
4        W
        ..
31040    M
31041    W
31044    M
31045    M
31046    M
Name: Gender, Length: 28471, dtype: object

In [ ]:
df.describe()

,index,Cust ID,Age,Date,Amount,ship-postal-code
count,31047.00000,3.104700e+04,31047.000000,31047,31047.000000,31047.000000
mean,15524.00000,4.936824e+06,39.496570,2022-06-15 06:41:39.719779584,682.074822,460474.587206
min,1.00000,8.950000e+02,18.000000,2022-01-04 00:00:00,229.000000,110001.000000
25%,7762.50000,2.416471e+06,28.000000,2022-03-06 00:00:00,486.000000,313001.000000
50%,15524.00000,4.909885e+06,37.000000,2022-06-06 00:00:00,646.000000,500028.000000
75%,23285.50000,7.454182e+06,47.000000,2022-09-06 00:00:00,794.000000,600040.000000
max,31047.00000,9.999233e+06,78.000000,2022-12-06 00:00:00,3036.000000,855117.000000
std,8962.64124,2.900678e+06,15.117233,NaN,268.582173,198116.733009

In [ ]:
df.unique()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31047 non-null  int64
 5   Date              31047 non-null  datetime64[ns]
 6   Status            31047 non-null  object
 7   Channel           31047 non-null  object
 8   SKU               31047 non-null  object
 9   Category          31047 non-null  object
 10  Size              31047 non-null  object
 11  Qty               31047 non-null  object
 12  currency          31047 non-null  object
 13  Amount            31047 non-null  int64
 14  ship-city         31047 non-null  object
 15  ship-state        31047 non-null  object
 16  ship-postal-code  31047 non-null  int64
 17  ship-country      31047 non-null  object
 18  B2B               31047 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(5), object(12)
memory usage: 4.3+ MB